@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');


// @font-face {
//   font-family: chicago; /* set name */
//   src: url(/public/fonts/chicago/ChicagoFLF.ttf) format('truetype'); /* url of the font */
// }
/* Typo */
@font-face {
    font-family: "chicago";
    src: url("//db.onlinewebfonts.com/t/1a243397695904f6f56e490ffd77a9cb.woff2") format("woff2");
    src: url("//db.onlinewebfonts.com/t/1a243397695904f6f56e490ffd77a9cb.eot?#iefix") format("embedded-opentype"),
        url("//db.onlinewebfonts.com/t/1a243397695904f6f56e490ffd77a9cb.eot"),
        url("//db.onlinewebfonts.com/t/1a243397695904f6f56e490ffd77a9cb.woff") format("woff"),
        url("//db.onlinewebfonts.com/t/1a243397695904f6f56e490ffd77a9cb.ttf") format("truetype"),
        url("//db.onlinewebfonts.com/t/1a243397695904f6f56e490ffd77a9cb.svg#ChicagoFLF") format("svg");
}

@font-face {
    font-family: "Geneva";
    src: url("//db.onlinewebfonts.com/t/5ef60dc8370b330aa40e0c874bda45aa.woff2") format("woff2");
    src: url("//db.onlinewebfonts.com/t/5ef60dc8370b330aa40e0c874bda45aa.eot?#iefix") format("embedded-opentype"),
        url("//db.onlinewebfonts.com/t/5ef60dc8370b330aa40e0c874bda45aa.eot"),
        url("//db.onlinewebfonts.com/t/5ef60dc8370b330aa40e0c874bda45aa.woff") format("woff"),
        url("//db.onlinewebfonts.com/t/5ef60dc8370b330aa40e0c874bda45aa.ttf") format("truetype"),
        url("//db.onlinewebfonts.com/t/5ef60dc8370b330aa40e0c874bda45aa.svg#Geneva") format("svg");
}

@font-face {
    font-family: "Pixel";
    src: url("/portfolio/fonts/pixel_3/pixel2.ttf") format("truetype");
}

@layer base {
    * {
        font-family: 'Geneva', system-ui, sans-serif;
        font-family: 'Pixel';
        // font-family: 'Pixelify Sans' !important;
    }

    *::-webkit-scrollbar {
        width: 5px;
    }

    *::-webkit-scrollbar-track {
        border-radius: 100vh;
        background: #f7f4ed;
    }

    *::-webkit-scrollbar-thumb {
        background: #e0cbcb;
    }

    *::-webkit-scrollbar-thumb:hover {
        background: #c0a0b9;
    }
}

#pin {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    // border-top: dashed 2px red;
    // border-bottom: dashed 2px red;
    box-sizing: border-box;
}

#test-os {
    position: fixed;
    width: 100dvw;
    height: 100dvh;
    z-index: 99;
    opacity: 0;
    display: none;
}

#title-projects {
    font-size: 44px;
    font-family: 'Pixel' !important;
}
