#system {
    width: 100vw;
    height: 100vh;
    position: relative;
    font-family: chicago !important;

    #splash {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;


        #mac-loader {
            position: absolute;
            background-image: url(https://assets.codepen.io/7773162/Mac_loader.svg);
            width: 4.7rem;
            height: 6rem;
            background-size: contain;
            background-repeat: no-repeat;
        }

        #mac-welcome {
            position: absolute;
            opacity: 0;
            background-color: #fff;
            border: 0.8px solid #000;
            width: 38rem;
            height: 15rem;
            padding: 2px;

            .welcome_screen {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
                background-color: #fff;
                border: 2px solid #000;

                span {
                    font-size: 28px;
                    font-family: chicago;
                }

                // .welcome_illustration {
                //     border: 1px solid red;
                //     margin: 2.5rem 0 0 2.5rem;
                //     background: url(https://assets.codepen.io/7773162/illustration.svg);
                //     height: 6rem;
                //     background-size: contain;
                //     background-repeat: no-repeat;
                // }

            }
        }


    }

    #desktop {
        opacity: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        font-family: chicago !important;
        background: url(https://assets.codepen.io/7773162/Swatch.svg);

        .header {
            width: 100%;
            height: 33px;
            border-bottom: 2px solid black;
            background: #fff;
            padding: 0 25px;
            display: flex;
            align-items: center;

            ul {
                display: flex;
                align-items: center;
                height: 100%;

                li {
                    display: flex;
                    align-items: center;
                    padding: 0 10px;
                    height: inherit;
                    font-family: chicago;
                    cursor: pointer;

                    &:hover {
                        background: #000;
                        color: #fff;
                    }
                }
            }
        }

        .drag-zone {
            width: 100%;
            height: 100%;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 25px;
            padding: 25px;


            @for $i from 1 through 3 {
                .drag-item:nth-child(#{$i}) {
                    position: absolute;
                    right: 25px;
                    top: (25px * $i) + (100px * ($i - 1));
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    width: 100px;
                    gap: 10px;

                    span {
                        font-family: chicago;
                        background: #fff;
                        padding: 2px 5px;
                        text-align: center;
                    }

                }
            }

            .window {
                position: absolute;
                background: #fff;
                width: 600px;
                min-height: 400px;
                border: 2px solid #000;
                display: none;

                .header-window {
                    width: 100%;
                    border-bottom: 2px solid #000;
                    padding: 0px 25px;
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;


                    .window-bars {
                        position: absolute;
                        left: 0px;
                        // height: 100%;
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 2px;
                        flex-direction: column;
                        padding: 0 4px;
                        // top: 0;

                        span {
                            display: block;
                            width: 100%;
                            height: 1px;
                            background: #000;
                        }
                    }

                    .window-title {
                        padding: 0 10px;
                        height: 100%;
                        background: #fff;
                        z-index: 2;

                        span {
                            font-family: chicago;
                        }
                    }

                    .window-btn {
                        border: 1px solid #000;
                        outline: none;
                        width: 16px;
                        height: 16px;
                        background: #fff;
                        z-index: 1;

                        &:last-child {
                            opacity: 0;
                        }
                    }
                }

                .content {
                    .itens {
                        display: flex;
                        padding: 25px;
                        gap: 50px;
                        flex-wrap: wrap;

                        >div {
                            display: flex;
                            flex-direction: column;
                            align-items: center;

                            figure {
                                display: flex;
                                width: auto;

                                img {
                                    width: 60px;
                                    height: 60px;
                                    object-fit: contain;
                                }
                            }

                            span {
                                font-family: chicago;
                            }
                        }
                    }
                }
            }
        }
    }
}